<footer>
    <div class="seccionesFooter">
        <h3 class="titulosFooter">Contacto</h3>
        <p class="textoFooter">+54(911)5565-0304</p>
        <p class="textoFooter">lacrecientebigband@gmail.com</p>
        <div class="contactoLogosFooter">
                <a href="https://api.whatsapp.com/send?phone=5491169025079"><i class="fa-brands fa-whatsapp iconosFooter whatsapp"></i></a>
                <a href="https://www.youtube.com/@lacrecientebigband"><i class="fa-brands fa-youtube iconosFooter youtube"></i></a>
                <a href="https://www.instagram.com/lacrecientebigband/"><i class="fa-brands fa-instagram iconosFooter instagram"></i></a>
                <a href="https://www.facebook.com/search/top?q=la%20creciente%20big%20band"><i class="fa-brands fa-facebook iconosFooter facebook"></i></a>
        </div>
    </div>
    <div class="seccionesFooter">
        <h3 class="titulosFooter">Más sobre nosotros</h3>
        <a href="https://linktr.ee/lacrecientebigband" class="textoFooter">linktr.ee/lacrecientebigband</a><br>
        <a href="https://www.youtube.com/watch?v=T-KCNGkw4WM" class="textoFooter linkVideo">video demo</a>
    </div>
</footer>