<head>
    <h1>Texto del footer</h1>
    <div>
        <h3>
            contacto
            Griselda acquista
            +54(911)5565-0304
            lacrecientebigband@gmail.com
            https://linktr.ee/lacrecientebigband
        </h3>
    </div>
</head>