<footer>
    <div class="seccionesFooter">
        <h3 class="titulosFooter">Contacto</h3>
        <p class="textoFooter">+54(911)5565-0304</p>
        <p class="textoFooter">lacrecientebigband@gmail.com</p>
    </div>
    <div class="seccionesFooter">
        <h3 class="titulosFooter">Más sobre nosotros</h3>
        <a href="https://linktr.ee/lacrecientebigband" class="textoFooter">linktr.ee/lacrecientebigband</a><br>
        <a href="https://www.youtube.com/watch?v=T-KCNGkw4WM" class="textoFooter">video demo</a>
    </div>
</footer>