<header>
    <div class="header">
        <div class="contenedorLogo">
            <a href="/"><img src="/imagenes/logo.png" class="logo"></a>
        </div>
        <div class="contactoLogos">
            <a href="https://api.whatsapp.com/send?phone=5491169025079"><i class="fa-brands fa-whatsapp iconos whatsapp"></i></a>
            <a href="https://www.youtube.com/@lacrecientebigband"><i class="fa-brands fa-youtube iconos youtube"></i></a>
            <a href="https://www.instagram.com/lacrecientebigband/"><i class="fa-brands fa-instagram iconos instagram"></i></a>
            <a href="https://www.facebook.com/search/top?q=la%20creciente%20big%20band"><i class="fa-brands fa-facebook iconos facebook"></i></a>
        </div>
    </div>
</header>