<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main>
        <div style="background-color:grey">
            <h1>La creciente big band</h1>
            <h2>Somos una orquesta de Jazz con sonido
                propio enmarcado en la tradición del
                Swing
            </h2>
        </div>
        <div style="background-color:#cfd7e6">
            <h3 style="color:red">Los inicios</h3>
            <p> La Creciente B.B.
                Se conformó en 2018 con el objetivo de
                acompañar a bailarines y fanáticos del
                Lindyhop o Swing Dance, como así también de
                público con ganas de disfrutar de este hermoso
                género.
                Interpretamos un repertorio de temas clásicos
                inmortalizados por grandes bandas lideradas
                por Benny Goodman, Duke Ellington, Count
                Basie entre otros.
            </p>
        </div>
        <div style="background-color:grey">
            <h3 style="color:red">Gacetilla curriculum vitae</h3>
            <div>
                <h3>conciertos:</h3>
                <p>Je Suis Lacan, Galpón B, Centro Cultural
                    "Carlos Gardel", Lindyhop al aire libre,
                    Swing Club (Teatro La Comedia), Ciclo
                    Swing Creciente (El Emergente), Friday
                    Swing Night (Club Malcolm), entre otros.
                    Eventos privados: Barrio Parque Irizar
                    (Pilar), Colegio de Abogados de San Isidro,
                    Dulce María (Martínez), La Viruta Tango
                    Club, Museo del Automovil (para DZE
                    Ignition Products ).
                </p>
            </div>
            <div>
                <h3>Festivales</h3>
                <p>"Festival Internacional de Jazz de
                    Buenos Aires 2021"
                    "Festival Internacional de Merlo 2022”
                </p>
            </div>
        </div>
        <h1 style="color:green">Musicos en escena(fotos....)</h1>
        <div style="background-color:grey">
            <h3 style="color:red">propuesta artística</h3>
            <p>Concierto de la orquesta, con una duración
            aproximada de 45 a 50 min. Desarrollando
            un repertorio variado de jazz de la era del
            swing, para amenizar eventos sociales,
            corporativos y culturales.
            Con la actuación de 16 músicos
            distribuidos en filas de saxos, trompetas,
            trombones y la sección rítmica compuesta
            por batería, contrabajo, piano eléctrico y
            guitarra.
            Opcional: incorporación de bailarines en
            escena.
            </p>
        </div>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>