<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main class="contenedorMain">
        <div class="portada">
            <h1 class="tituloPortada">La creciente big band</h1>
            <h3 class="textoPortada">Somos una orquesta de Jazz con sonido
                propio enmarcado en la tradición del
                Swing
            </h3>
        </div>
        <i class="fa-solid fa-bars menu"></i>
        <div class="linksHome">
            <a href="/nosotros" class="linkHome">Quienes Somos</a>
            <a href="/trayectoria" class="linkHome">Conciertos y eventos</a>
            <a href="/propuesta" class="linkHome">Propuesta artística</a>
        </div>
        <div class="seccionesHome">
            <h3 class="tituloSeccion">Los inicios</h3>
            <p> La Creciente B.B.
                Se conformó en 2018 con el objetivo de
                acompañar a bailarines y fanáticos del
                Lindyhop o Swing Dance, como así también de
                público con ganas de disfrutar de este hermoso
                género.
                Interpretamos un repertorio de temas clásicos
                inmortalizados por grandes bandas lideradas
                por Benny Goodman, Duke Ellington, Count
                Basie entre otros.
            </p>
        </div>
        <h4 class="seccionesHome tituloSeccion">Musicos en escena(fotos....)</h4>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>