<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main class="contenedorMain">
        <div class="portada">
            <!--<h1 class="tituloPortada">La creciente big band</h1>-->
            <!--<p class="textoPortada">Somos una orquesta de Jazz con sonido
                propio enmarcado en la tradición del
                Swing
            </p>-->
            <!--<p class="textoPortada">...una orquesta de Jazz con sonido
                propio
            </p>-->
        </div>
        <div class="contenedorMenuCelu">
            <h3 class="textoPortada">...una orquesta de Jazz con 
                sonido propio
            </h3>
            <i class="fa-solid fa-bars menu"></i>
        </div>
        <div class="linksHomeCelu">
            <a href="/nosotros" class="linkHomeCelu">Quienes Somos</a>
            <a href="/trayectoria" class="linkHomeCelu">Conciertos y eventos</a>
            <a href="/propuesta" class="linkHomeCelu">Propuesta artística</a>
        </div>
        <div class="contenedorMenu">
            <h3 class="textoPortada">...una orquesta de Jazz con 
                sonido propio
            </h3>
        </div>
        <div class="linksHome">
            <a href="/nosotros" class="linkHome">Quienes Somos</a>
            <a href="/trayectoria" class="linkHome">Conciertos y eventos</a>
            <a href="/propuesta" class="linkHome">Propuesta artística</a>
        </div>
        <div class="contenidoPagina">
            <div class="seccionesHome">
                <h3 class="tituloSeccion">Los inicios</h3>
                <p class="textoSeccion"> La Creciente B.B.
                    Se conformó en 2018 con el objetivo de
                    acompañar a bailarines y fanáticos del
                    Lindyhop o Swing Dance, como así también de
                    público con ganas de disfrutar de este hermoso
                    género.
                    Interpretamos un repertorio de temas clásicos
                    inmortalizados por grandes bandas lideradas
                    por Benny Goodman, Duke Ellington, Count
                    Basie entre otros.
                </p>
            </div>
            <h4 class="seccionesHome tituloSeccion">Musicos en escena(fotos....)</h4>
        </div>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>