<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main>
        <h1>La creciente big band</h1>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>