<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head.ejs") %>
<body>
    <%- include("./parciales/header.ejs") %>
    <main class="contenedorMain">
            <h3 class="tituloSeccion">Los inicios</h3>
            <p> La Creciente B.B.
                Se conformó en 2018 con el objetivo de
                acompañar a bailarines y fanáticos del
                Lindyhop o Swing Dance, como así también de
                público con ganas de disfrutar de este hermoso
                género.
                Interpretamos un repertorio de temas clásicos
                inmortalizados por grandes bandas lideradas
                por Benny Goodman, Duke Ellington, Count
                Basie entre otros.
            </p>
    </main>
    <%- include("./parciales/footer.ejs") %>
</body>
</html>