<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head.ejs") %>
<body>
    <%- include("./parciales/header.ejs") %>
    <main class="contenedorMain vistasSecundarias">
            <h3 class="tituloSeccion">Propuesta artística</h3>
            <p class="textoSeccion">
                Concierto de la orquesta, con una duración
                aproximada de 45 a 50 min. Desarrollando
                un repertorio variado de jazz de la era del
                swing, para amenizar eventos sociales,
                corporativos y culturales.
                Con la actuación de 16 músicos
                distribuidos en filas de saxos, trompetas,
                trombones y la sección rítmica compuesta
                por batería, contrabajo, piano eléctrico y
                guitarra.
                Opcional: incorporación de bailarines en
                escena.
            </p>
            <h4><a href="https://www.youtube.com/watch?v=T-KCNGkw4WM" class="textoSeccion">Video demo</a></h4>
    </main>
    <%- include("./parciales/footer.ejs") %>
</body>
</html>