<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head.ejs") %>
<body>
    <%- include("./parciales/header.ejs") %>
    <main class="contenedorMain vistasSecundarias">
        <h1 class="tituloPrincipalSeccion">Trayectoria</h1>
            <div>
                <h3 class="tituloSeccion">conciertos:</h3>
                <p class="textoSeccion">
                    Je Suis Lacan, Galpón B, Centro Cultural
                    "Carlos Gardel", Lindyhop al aire libre,
                    Swing Club (Teatro La Comedia), Ciclo
                    Swing Creciente (El Emergente), Friday
                    Swing Night (Club Malcolm), entre otros.
                    Eventos privados: Barrio Parque Irizar
                    (Pilar), Colegio de Abogados de San Isidro,
                    Dulce María (Martínez), La Viruta Tango
                    Club, Museo del Automovil (para DZE
                    Ignition Products ).
                </p>
            </div>
            <div>
                <h3 class="tituloSeccion">Festivales</h3>
                <p class="textoSeccion">
                    "Festival Internacional de Jazz de
                    Buenos Aires 2021"
                    "Festival Internacional de Merlo 2022”
                </p>
            </div>
    </main>
    <%- include("./parciales/footer.ejs") %>
</body>
</html>