*{
    box-sizing: border-box;
    font-family: arial;
}
a{
    text-decoration: none;
    color: #000;
}

/* --- HEADER --- */

.header{
    background-image:url("../imagenes/encabezadoFondoOscuroMio.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 5% 5% 5% 5%;
}
.tituloNombre{
    font-family: 'Michland', sans-serif;
    font-size: 2.2em;
    font-weight:100;
    line-height: 1px;
    color: #CA0616;
}
.tituloNombreBlanco{
    position: relative;
    font-family: 'Michland', sans-serif;
    font-size: 2.2em;
    font-weight:100;
    line-height: 1px;
    color: #fff;
    position: relative;
    top:33px;
}
.nombre{
    padding-left: 5%;
    position: relative;
    right: 5%;
}
.contactoLogos{
    font-size: 1em;
    position: relative;
    left: 30%;
}
.iconos{
    font-size: 1em;
    color:#fff
}

/* --- MAIN ---*/
.contenedorMain{
    padding-top: 35%;
    font-size: 1rem;
}
.portada{
    padding: 10%;
    width: 100vw;
    height: 70vw;
    background-image:url("/imagenes/bigSaludandoGalpon_ok.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tituloPortada{
    /*color: #fff;*/
    text-align: center;
    font-size: 2em;
    margin:0%;
    font-family: 'Michland', sans-serif;
    font-weight: lighter;
}
.textoPortada{
    text-align: center;
    font-size: 0.8em;
}
.contenedorMenuCelu{
    width: 100vw;
    padding: 3% 0%;
    /*position: relative;
    z-index: -2;*/
    background-color:#CA0616;
    /*border:#000 solid 3px;*/
}
.contenedorMenu{
    display: none;
    width: 100vw;
    padding: 3% 0%;
    background-color:#CA0616;
}
.menu{
    font-size: 1.3em;
    border: #000 solid 2px;
    border-radius: 5px;
    background-color:#CA0616;
    position:relative;
    left: 80%;
    padding: 5px;
}
.linksHomeCelu{
    background-color:#CA0616;
    width: 40%;
    padding: 2%;
    display: none;
}
.linkHomeCelu{
    font-size: 0.9em;
    line-height: 1.7em;
}
.linksHome{
    display: none;
}
.contenidoPagina{
    padding: 5%;
    font-size: 1rem;
}
.tituloSeccion{
    font-size: 1em;
}
.textoSeccion{
    font-size: 0.8em;
}

/* --- VISTAS SECUNDARIAS --- */
.vistasSecundarias{
    padding: 25% 5% 5% 5%;
    font-size: 1rem;
}
.tituloPrincipalSeccion{
    font-size: 1.2em;
    text-align: center;
}
/* --- FOOTER --- */
footer{
    background-color:#CA0616;
    font-size: 1rem;
    width: 100vw;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titulosFooter{
    font-size: 0.9em;
}
.textoFooter{
    font-size: 0.8em;
}
.iconosFooter{
    font-size: 1em;
    color:#000;
}

/* --- MEDIAS --- */

@media only screen and (min-width:480px) {
    
    /* --- HEADER --- */

    .header{
        font-size: 1.4rem;
        padding: 2% 5%
    }
    .tituloNombre{
        font-size: 2.5em;
    }
    .tituloNombreBlanco{
        font-size: 2.5em;
        top:54px;
    }
    .nombre{
        padding-left: 0%;
    }

    /* --- MAIN --- */
    .contenedorMenuCelu{
        display: none;
    }
    .contenedorMenu{
        display: flex;
    }
    .menu{
        display: none;
    }
    .linksHomeCelu{
        display: none;
    }
    .linksHome{
        display: flex;
        justify-content: space-between;
        width: 100vw;padding: 2%;
        font-size: 1em;
        background-color:#CA0616;
        border:#000 solid 3px;
    }

    /* --- FOOTER --- */
    footer{
        flex-direction: row;
    }
}

@media only screen and (min-width:768px) {
}