*{
    box-sizing: border-box;
    font-family: arial;
}
a{
    text-decoration: none;
    color: #000;
}

/* --- HEADER --- */

.header{
    background-color:rgb(199, 198, 198);
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding-right: 5%;
}
.contenedorLogo{
    width: 30vw;    
}
.logo{
    width: 100%;
    height: 100%;
}
.iconos{
    font-size: 1.2em;
}
.whatsapp{
    color:green;
}
.youtube{
    color:red;
}
.instagram{
    color:#000;
}
.facebook{
    color:blue;
}

/* --- MAIN ---*/
.contenedorMain{
    padding-top: 20%;
    font-size: 1rem;
}
.portada{
    padding: 10%;
    width: 100vw;
    height: 70vw;
    background-image:url("/imagenes/bigSaludandoGalpon_ok.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tituloPortada{
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    margin:0%;
}
.textoPortada{
    color:#fff;
    text-align: center;
    font-size: 1.1em;
    margin:0%;
}
.linksHome{
    display: flex;
    justify-content: space-between;
    width: 100vw;padding: 2%;
    font-size: 0.8em;
}
/*.linkHome{
    border:#000 solid 2px;
}*/

/* --- FOOTER --- */
footer{
    background-color:rgb(199, 198, 198);
    font-size: 0.8em;
}